<div class="jumbotron center">
	
	<h1>Browse Real Company Culture</h1> 
	<h1>Ideas You Can Use Right Away</h1>
	
	<% if user_signed_in? %>
		#do something
	<% else %>
		<div class="topmargin">
		<p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
		Already a Member? <%= link_to "Sign In", new_user_session_path %>
	</div>
	<% end %>

</div>