<div class="jumbotron">
	<h1>Access Real</h1>
	<h1>Examples of</h1>
	<h1>Brilliant</h1>
	<h1>Company Culture</h1>
	<p>Click here to <%= link_to "Get Access", "#", class: "btn btn-primary" %></p>
</div>